################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1Core/.vs/WebApplication1Core/v15/Server/sqlite3
